= render "fixed-bar/header"
.sell-main
  .sell-main__form-box
    = form_for @item, url: sell_index_path do |f|
      .sell-main__form-top
        %h3.upload-name
          出品画像
          %span.form-require
            必須
      %p.form-coment 最大5枚までアップロードできます。
      .image-box
        .dropbox-container
          #previews
            - if @item.persisted?
              - @item.item_imgs.each_with_index do |image, i|
                = image_tag image.img.url, data: { index: i }, width: "100", height: '100'
          .js-input
            = f.fields_for :item_imgs do |i|
              .image-file_group{"data-index" => "#{i.index}"}
                = i.file_field :img, class: 'image-file'
                %span.js-remove 削除
      .style-top-line
      .sell-main__form-box2
        .sell-main__form-top
          %h3.upload-name
            商品名
            %span.form-require
              必須
          = f.text_field :name, class: 'text-field', placeholder: '40文字まで'
          %h3.upload-name
            商品の説明
            %span.form-require
              必須
          = f.text_area :text, class: 'text-area', placeholder: '商品の説明は(必須1,000文字以内)'
      .style-top-line
      .sell-main__form-box2
        .sell-main__form-top
          %h3.hoge
            商品詳細
          %h3.upload-name
            カテゴリー
            %span.form-require
              必須
          %div{ id: 'sell-main__select-category--wrapper' }
            .sell-main__select-wrap
              = f.collection_select :category_id, Category.where(sub: '0'), :id, :name, {prompt: "選択してください"}, class: 'sell-main__select-default', id: 'sell-main__select-category--main'
          %h3.upload-name
            ブランド
            %span.form-require
              必須
          = f.collection_select :brand_id, Brands.all, :id, :name, prompt: "選択してください"
          %h3.upload-name
            商品の状態
            %span.form-require
              必須
          = f.collection_select :item_condition_id, Item_condition.all, :id, :value, prompt: "選択してください"
      .style-top-line
      .sell-main__form-box2
        .sell-main__form-top
          %h3.hoge
            配送について
          %h3.upload-name
            発送元の地域
            %span.form-require
              必須
          = f.collection_select :area_id, Area.all, :id, :name, prompt: "選択してください"
          %h3.upload-name
            発送までの日数
            %span.form-require
              必須
          = f.collection_select :send_days_id, Send_days.all, :id, :value, prompt: "選択してください"
      .style-top-line
      .sell-main__form-box2
        .sell-main__form-top
          %h3.hoge
            価格（¥300~9,999,999）
          .price-field
            %h3.upload-name
              販売価格
              %span.price-require
                必須
            .number-price
              %h3.upload-place
                ¥
              = f.number_field :price, class: 'number-field', min: '300', max: '9,999,999'
          .price_box
            %h3.commission
              販売手数料（10%）
            .price_box_right{ id: 'sell-main__fee' } -
          .style-bottom-line
          .price_box
            %h3.commission
              販売利益
            .price_box_right{ id: 'sell-main__profit' } -
          .submit-place
            = f.submit '出品する', class: 'submit'
          .return_btn
            = link_to 'もどる', '#', class: 'return'
= render "fixed-bar/footer"