.itemDetails
  .itemDetails__box
    .itemDetails__box__name
      = @item.name
    .itemDetails__box__wording
      『#{@item.name}』は、100回の取引実績を持つ#{@seller.nickname}さんから出品されました。#{@category.name}/#{@brand.name}の商品で、東京から#{@send_day.value}で発送されます。
    .itemDetails__box__main
      .itemDetails__box__main__photo
        .img1 
          = image_tag @item.item_imgs.first.img.url, class:"index-item-image"
        .sub-imgs-box
          - @item.item_imgs.each do |img|
            .sub-img
              = image_tag img.img.url, class:"index-item-image"
      %table.itemDetails__box__main__detail
        %tr
          %th 出品者
          %td
            = link_to "#" do
              = @seller.nickname
            %div
              .laugh
                = icon('fas', 'laugh')
                %span.rating 0
              .meh
                = icon('fas', 'meh')
                %span.rating 0
              .frown-open
                = icon('fas', 'frown-open')
                %span.rating 100
        %tr
          %th カテゴリー
          %td
            = link_to "#" do
              = @category.name
        %tr
          %th ブランド
          %td
            = link_to "#" do
              = @brand.name
        %tr
          %th 商品の状態
          %td 
            = @condition.value
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td 
            = @area.name
        %tr
          %th 発送日の目安
          %td 
            = @send_day.value
    .itemDetails__box__buy
      %span.price
        ¥
        = @item.price
      %span.tax
        (税込)
      %span.fee
        送料込み
    = link_to "#" do
      %input.move{type: "submit", value: "購入画面に進む"}
    .itemDetails__box__description
      = @item.text