%header.toppage-header-wrapper
  .toppage-header-top
    .toppage-header-top__header
      .toppage-header-top__header-contents
        = link_to root_path do
          = image_tag 'material/logo/logo.png', alt: 'mercari-logo',
          class: 'toppage-header-top__header-contents--mercari-logo'
        .toppage-header-top__header-search
          = form_tag(items_searches_path,method: :get) do
            .toppage-header-top__header-search--search-btn
              = icon('fas', 'search', alt: 'search-icon',
            class: 'toppage-header-top__header-search--search-icon')
              = submit_tag 'search', :name => nil,class:"toppage-header-top__header-search--search-submit"
            = text_field_tag :search, "",class:"toppage-header-top__header-search--search-form",placeholder:"何かお探しですか？"
    .toppage-header-top__footer
      %nav.toppage-header-top__footer-search
        %ul.toppage-header-top__footer-search-categories
          %li.toppage-header-top__footer-search-wrapper
            %h2
              = link_to root_path do
                = icon('fas', 'list-ul lg',
                alt: 'list-icon', style: 'color:#0095ee')
                %span.toppage-header-top__footer-search-text カテゴリーから探す
            .categories-wrapper
              %ul.first-category__wrapper
                - @main_categories.each do |main_category|
                  %li.first-category{data: {category: {id: main_category.id, sub: main_category.sub, sub_sub: main_category.sub_sub}}}
                    %div
                      = main_category.name
              %ul.second-category__wrapper
                - @sub_categories.each do |sub_category|
                  %li.second-category{data: {category: {id: sub_category.id, sub: sub_category.sub, sub_sub: sub_category.sub_sub}}}
                    %div
                      = sub_category.name
              %ul.third-category__wrapper
                - @sub_sub_categories.each do |sub_sub_category|
                  %li.third-category{data: {category: {id: sub_sub_category.id, sub: sub_sub_category.sub, sub_sub: sub_sub_category.sub_sub}}}
                    = sub_sub_category.name
          %li.toppage-header-top__footer-search-brand
            %h2
              = link_to sell_index_path do
                = icon('fas', 'tag lg', alt: 'tag-icon',
                style: 'color:#0095ee', class: 'toppage-header-top__footer-search-brand--icon')
                %span 全商品一覧
      .toppage-header-top__footer-contents
        - if user_signed_in?
          .toppage-header-top__footer-contents-wrapper
            .toppage-header-top__footer-contents--new-register-btn
              = link_to 'マイページ', user_path(current_user)
            .toppage-header-top__footer-contents--user-login-btn
              = link_to 'ログアウト', new_user_path
        - else
          .toppage-header-top__footer-contents-wrapper
            .toppage-header-top__footer-contents--new-register-btn
              = link_to '新規会員登録', new_user_registration_path
            .toppage-header-top__footer-contents--user-login-btn
              = link_to 'ログイン', new_user_session_path
