%section.pickupContainer
  %h2.pickupContainerhead
    ピックアップカテゴリー
  .productBox
    .productHead
      =link_to "#", class: "productHead__link" do
        %h3.productHeadtitle
          新規投稿商品
    .productLists
      .productList
        = link_to "#", class: "productList__link" do
          = image_tag "material/icon/member_photo_noimage_thumb.png"
          .productList--body
            %h3.name
              product3
            .details
              %ul
                %li
                  3000円
              %p
                （税込）
      .productList
        = link_to "#", class: "productList__link" do
          = image_tag "material/icon/member_photo_noimage_thumb.png"
          .productList--body
            %h3.name
              product3
            .details
              %ul
                %li
                  3000円
              %p
                （税込）
      .productList
        = link_to "#", class: "productList__link" do
          = image_tag "material/icon/member_photo_noimage_thumb.png"
          .productList--body
            %h3.name
              product3
            .details
              %ul
                %li
                  3000円
              %p
                （税込）

