-# %h1 Toppage#index
-# %p Find me in app/views/toppage/index.html.haml
= render "header"
= render "mainVisual"
= render "toplntroduction"
= render "topMiddleDl"
= render "topKeyFeatures"
= render "pickupContainer"
= render "appBanner"
= render "footer"
= render "sellerBtn"