= render "header"
= render "mainVisual"
= render "toplntroduction"
= render "topMiddleDl"
= render "topKeyFeatures"
= render "pickupContainer"
= render "appBanner"
= render "footer"
= render "sellerBtn"