%h1 Toppage#index
%p Find me in app/views/toppage/index.html.haml
= render "header"
= render "mainvisual"
= render "toplntroduction"
= render "topmiddledl"
= render "topkeyfeatures"
= render "pickupcontainer"
= render "appbanner"
= render "footer"