= render "fixed-bar/header"
.buy
  .buy__box
    .buy__box__title
      購入内容の確認
    .buy__box__item
      = image_tag @item.item_imgs.first.img.url, class:"buy-item"
    .buy__box__name
      = @item.name
    .buy__box__money
      ¥#{@item.price}
    .buy__box__fream
      %h3 支払い方法
      - if @default_card_information.blank?
        %br 
      - else
        = "**** **** **** " + @default_card_information.last4
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
      %br
      = form_tag(pay_sell_purchase_index_path, method: :post, class: "pay-form") do
        %button.pay-button 購入する
= render "toppage/footer"